body {
  margin: 0;
  font-family:  Inter, sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
ul, 
ol, 
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  min-height: 100px;
  margin: auto;
}

.content-section_theme_color {
  color: #f5f5f5;
  background-color: #ff0095;
}

.content-section_theme_bright {
  color: #141414;
  background-color: #fff;
}
